body {background-color: dodgerblue;}
p    {color: #ffffff;}
h1   {color: #ffffff;}
h2   {color: #ffffff;}
h3   {color: #ffffff;}
h4   {color: #ffffff;}
h5   {color: #ffffff;}
h6   {color: #ffffff;}
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}